@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lilita+One&family=Sarabun&family=ZCOOL+XiaoWei&display=swap');
/*
font-family: 'Amaranth', sans-serif;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Lilita One', cursive;
font-family: 'Sarabun', sans-serif;
*/

.app {
    background-image: url('./assets/cold-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.4s ease-out;
}